In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../database/tables/Censo31_escravizados.xlsx')

In [3]:
temp = df[~df['Escravizados'].isna()]['Escravizados'].reset_index(drop=True)
total_chefes = temp.shape[0]
total_escravos = temp.sum()
print(total_chefes, total_escravos)

58603 130050.0

In [4]:
tabela = pd.DataFrame(data=['0', '01', '02', '03-05', '06-10', '11-15', '16-20', '21-30', '+30', 'N'], columns=['Tamanho do Plantel'])
tabela

  Tamanho do Plantel
0                  0
1                 01
2                 02
3              03-05
4              06-10
5              11-15
6              16-20
7              21-30
8                +30
9                  N

In [5]:
count_chefes = []
count_escravos = []
for tamanho in tabela['Tamanho do Plantel']:
    match tamanho:
        case '0':
            temp = df[df['Escravizados'] == 0]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '01':
            temp = df[df['Escravizados'] == 1]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '02':
            temp = df[df['Escravizados'] == 2]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '03-05':
            temp = df[(df['Escravizados'] >= 3) & (df['Escravizados'] <= 5)]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '06-10':
            temp = df[(df['Escravizados'] >= 6) & (df['Escravizados'] <= 10)]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '11-15':
            temp = df[(df['Escravizados'] >= 11) & (df['Escravizados'] <= 15)]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '16-20':
            temp = df[(df['Escravizados'] >= 16) & (df['Escravizados'] <= 20)]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '21-30':
            temp = df[(df['Escravizados'] >= 21) & (df['Escravizados'] <= 30)]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)
        case '+30':
            temp = df[df['Escravizados'] > 30]
            n_chefes = temp.shape[0]
            n_escravos = temp['Escravizados'].sum()
            count_chefes.append(n_chefes)
            count_escravos.append(n_escravos)

count_chefes = [round(100*count/total_chefes, 2) for count in count_chefes]
count_escravos = [round(100*count/total_escravos, 2) for count in count_escravos]
count_chefes.append(total_chefes)
count_escravos.append(total_escravos)
print(count_chefes)
print(count_escravos)

[66.47, 8.11, 5.18, 8.93, 5.92, 2.31, 1.13, 0.98, 0.96, 58603]
[0.0, 3.66, 4.67, 15.41, 20.17, 13.23, 9.04, 10.83, 22.99, 130050.0]

In [6]:
tabela.insert(loc=1, column='Chefes de Domicílio (%)', value = count_chefes)
tabela.insert(loc=2, column='Escravos Possuídos (%)', value = count_escravos)

In [7]:
tabela

  Tamanho do Plantel  Chefes de Domicílio (%)  Escravos Possuídos (%)
0                  0                    66.47                    0.00
1                 01                     8.11                    3.66
2                 02                     5.18                    4.67
3              03-05                     8.93                   15.41
4              06-10                     5.92                   20.17
5              11-15                     2.31                   13.23
6              16-20                     1.13                    9.04
7              21-30                     0.98                   10.83
8                +30                     0.96                   22.99
9                  N                 58603.00               130050.00