In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_excel('../database/tables/Censo31_powerbi.xlsx')
df['Escravizados'] = None

In [3]:
dono_atual, n_escravizados = 0, None
for i in tqdm(range(df.shape[0])):
    relacao, condicao, distrito = df.loc[i][['Relação', 'Condição', 'Distrito']]
    # checar se o indice atual é de um dono
    if relacao == 100:
        if dono_atual is not None:
            df.loc[dono_atual, 'Escravizados'] = n_escravizados
        # se distrito for nulo, dono não conta
        if isinstance(distrito, str):
            dono_atual = i
        else:
            dono_atual = None
        n_escravizados = 0
    elif condicao == 'escravo':
        n_escravizados +=1

100%|██████████| 424436/424436 [01:42<00:00, 4156.23it/s]

In [5]:
df.to_excel('../database/tables/Censo31_escravizados.xlsx', index=False)

In [6]:
vdd = pd.read_excel('../database/tables/Censo31_escravizados.xlsx')

In [4]:
df.sort_values(by='Escravizados', ascending=False)

,ID,Dia,Mês,Ano,Município,Distrito,Quart,Fogo,Folha,Pasta,...,Relação,Sexo,Raça,Condição,Idade,Est civil,Ocup,Nac,Nome,Escravizados
284572,284573,10,12,31,Barbacena,São Francisco de Paula,1,1,1,7.0,...,100,1,branco,livre,53,2,76,brasileiro,José Inácio Nogueira da Gama,394
297493,297494,25,10,31,Caeté,Socorro,0,97,1,12.0,...,100,1,branco,livre,40,2,340,brasileiro,José Holden,392
48105,47856,10,3,32,Sabará,Matosinhos,0,335,1,11.0,...,100,1,sem informação,livre,0,0,155,brasileiro,Reverendo Capelão Nicolau Gomes de Araújo,341
317561,317562,30,1,32,Caeté,Caeté,2,22,1,99.0,...,100,1,branco,livre,61,2,174,brasileiro,Capitão Luís Soares de Gouveia,223
201836,201587,23,10,31,Ouro Preto,Boa Morte,0,106,1,1.0,...,100,1,branco,livre,58,2,107,brasileiro,Romualdo José Monteiro de Barros,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424431,424650,12,12,31,Barbacena,NaN,0,0,30,4.0,...,0,1,africano,escravo,40,1,0,brasileiro,Manoel,None
424432,424651,12,12,31,Barbacena,NaN,0,0,30,4.0,...,0,1,crioulo,escravo,58,1,0,brasileiro,Antônio,None
424433,424652,12,12,31,Barbacena,NaN,0,0,30,4.0,...,0,1,crioulo,escravo,38,1,0,brasileiro,José,None
424434,424653,12,12,31,Barbacena,NaN,0,0,30,4.0,...,0,1,crioulo,escravo,26,1,0,brasileiro,Antônio,None
424435,424654,12,12,31,Barbacena,NaN,0,0,30,4.0,...,0,1,africano,escravo,22,1,0,brasileiro,Joaquim,None